{% extends "base.html" %}
{% block title %}{{ _('Categories') }} - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="" title="Categories">{{ _('Categories') }}</a></li>
    </ol>
    </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="categories">
        <h1>{{ _('All Categories for')  }} {{ SITENAME }}</h1>
        <div class="container">
            {% for category, articles in categories %}
            <div class="card mb-1">
                <!-- Card Header 包含一个触发 collapse 的按钮 -->
                <div class="card-header bg-secondary m-0 ps-4 pt-2 pb-2 pe-2">
                    <a class="d-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#collapse{{category.slug}}" aria-expanded="true" aria-controls="collapse{{category.slug}}" href="#collapse-{{category.slug}}">
                        {{ category }} <span class="badge bg-primary rounded-pill ms-auto">{{ articles|count }}</span>
                    </a>
                </div>
            
                <!-- Collapse 折叠内容部分 -->
                <div id="collapse{{category.slug}}" class="collapse">
                  <div class="card-body">
                    {% for article in articles %}
                        <p><span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%Y-%m-%d') }}</time></span> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></p>
                    {% endfor %}
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}
