{% extends "article_list.html" %}
{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ tag }}" />
{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ TAGS_URL }}" title="Tags">Tags</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="" title="{{ tag }}">{{ tag }}</a></li>
    </ol>
    </nav>
    {% endif %}
{% endblock %}
