{% extends "base.html" %}
{% block content %}
<div>
  <ul>
    {% for article in articles_page.object_list %}
    <li class="transition ease-in active:-translate-y-1 active:scale-110 duration-75">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
        <div class="bg-white dark:bg-zinc-800 p-4 md:p-6 mb-4 rounded-lg">
          <header class="font-semibold text-2xl mb-2">
            <h1>{{ article.title }}</h1>
          </header>
          <div class="max-w-7xl container mx-auto my-4 justify-center overflow-hidden mb-2 text-sm text-zinc-800 dark:text-zinc-400
          prose lg:max-w-none prose-headings:text-zinc-800 prose-headings:dark:text-zinc-300 
          prose-h1:text-3xl prose-headings:font-semibold 
          prose-pre:bg-zinc-200 prose-pre:text-zinc-800
          dark:prose-pre:bg-zinc-800 dark:prose-pre:text-zinc-200
          prose-blockquote:text-zinc-800
          dark:prose-blockquote:text-zinc-200
          prose-a:text-gray-500
          dark:prose-a:text-gray-400
          dark:prose-strong:text-zinc-200 
          dark:prose-code:text-zinc-200
          dark:prose-code:bg-zinc-800
          prose-code:bg-zinc-200
          prose-code:font-light
          prose-img:rounded-md
          ">
            {{ article.summary }}
          </div>
          <div class="flex text-xs text-zinc-800 dark:text-zinc-400">
            <time>{{ article.date|strftime('%B %d, %Y') }}</time>
            <div>
              {% if article.readtime %}
              <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
              {% endif %}
            </div>
            <div>
              {% if article.author != '' %}
              <span>&nbsp;·&nbsp;{{ article.author }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
{% endif %}
{% endblock content %}